@import url("https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  background-image: url(../img/fondo-psicologia.jpg);
  background-attachment: fixed;
  background-repeat: repeat; }

#botonera {
  background-color: rgba(86, 86, 228, 0.7); }
  #botonera img {
    width: 100px;
    height: 100px; }

.navbar-toggler {
  font-size: 2rem;
  background-color: #F5F0F0; }

.nav-item {
  font-size: 2rem;
  font-family: "Tiro Gurmukhi", serif;
  text-align: center; }
  .nav-item .nav-link:hover {
    font-size: 2.5rem;
    box-shadow: 0 0.4rem 1rem #0F0E0E;
    transition: all 0.2s ease; }

header h1 {
  text-align: center;
  color: #0F0E0E;
  font-size: 4rem;
  margin-top: 2rem;
  font-weight: 900; }

.main {
  background-color: #974f94;
  text-align: center;
  padding: 2rem;
  margin: 2rem; }

.tituloSegundo {
  padding: 4rem 2rem;
  border: double 0.2rem #0F0E0E;
  font-size: 2.5rem;
  background-image: linear-gradient(to left, #d391d3, white);
  font-weight: 900; }
  .tituloSegundo .parrafoIndex {
    color: #F5F0F0;
    line-height: 3rem;
    font-size: 2.5rem;
    margin: 900; }
    .tituloSegundo .parrafoIndex .tituloMasChico {
      border: solid 0.2rem #5656e4;
      font-size: 2.3rem;
      margin: 3rem;
      padding: 2rem;
      background-image: linear-gradient(to left, #750b75, white);
      font-weight: 700; }

.video {
  border: solid 0.4rem #5656e4; }

.tituloQuienesSomos {
  font-size: 3.5rem;
  color: #F5F0F0;
  font-weight: 300; }
  .tituloQuienesSomos .text-center.px-4 .linkUno {
    color: #ff8052; }

.redes {
  grid-area: footer;
  background-color: rgba(86, 86, 228, 0.7);
  text-align: center;
  padding: 1rem; }
  .redes .texto {
    font-size: 3.5rem;
    font-family: "Dancing Script", cursive;
    color: #F5F0F0;
    font-weight: 600; }
