* {
    
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url(../img/fondo-psicologia.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
}
