@import url('https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

//fonts

$mainFont:'Tiro Gurmukhi', serif;
$secondaryFont:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$footerFont:'Dancing Script', cursive;

// tamaños de letra

$textXxs: 1rem;
$textXs: 2rem;
$textSm: 2.5rem;
$textMd: 3rem;
$textLg: 3.5rem;
$textXl: 4rem;

//peso de la letra

$extraBold:900;
$bold:700;
$medium:600;
$light:300;

