.tituloSegundoTiposDeTerapia {
    font-size: $textXl;
    margin-bottom: $textXs;
    .seccionDeTerapia h3 {
        font-size: $textMd;
        font-family:$secondaryFont;
        color: $white;
    }
}
.accordion-button {
    font-size: $textLg;
    .fs-tipo-de-terapia {
        font-size: 2.7rem;
    }
}