//variables globales
$backgroundColorNavYFooter:rgba(86, 86, 228, 0.7);
$mainColor: #974f94;
$borderColor:rgb(86, 86, 228);
$white:#F5F0F0;
$black:#0F0E0E;
$linkColor:hsl(16, 100%, 66%);
$backgroundThYFormColor:rgba(86, 86, 228, 0.5);
$backgroundImageIndexYServiciosColor:linear-gradient(to left, #d391d3, white);
$backgroundImageIndexColorH3:linear-gradient(to left, #750b75, white);


