.text-white.pt-5 {
  font-size: map-get($map: $tama単os , $key: 'textLg');
  font-weight: $light;
}

.contactForm {
  font-size: map-get($map: $tama単os , $key: 'textSm');

  h2 {
    font-size: map-get($map: $tama単os , $key: 'textSm');
  }

  .text-area-form-label {
    font-size: 3.2rem;
  }

  input {
    &::placeholder {
      padding-left: 0.5rem;
    }
  }
}

.w-fit-content {
  width: fit-content;
}

.tipoDeTerapia select {
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.btn-contact-form {
  font-size: map-get($map: $tama単os , $key: 'textXs');
}

.btn-secondary-contact-form {
  @extend .btn-contact-form;
  background-color: $white;
}

.btn-primary-contact-form {
  @extend .btn-contact-form;
  background-color: $backgroundThYFormColor;
  color: $white;
}

@media (min-width: 992px) {
  .contactForm {
    width: 75vw;
  }
}