.servicios {
    font-family: $secondaryFont;
    color: $white;

    h2 {
        font-size: $textXl;
        font-weight: $light;
    }

    @mixin servicios ($size, $color, $weight) {
        font-size: $size;
        color: $color;
        font-weight: $weight;
        margin-top: $textXs;
        text-align: start;
    }

    h3 {
        @include servicios (2.5rem, #F5F0F0, 300)
    }
}

.animate__bounceInRight {
    animation-duration: 2s;
}

.tablaDos {
    width: 100%;
    border: 3px solid $white;
    font-size: $textXs;
    margin: auto;
    padding: $textXxs;

    th,
    td {
        width: 25%;
        text-align: left;
        vertical-align: top;
        border: 2px solid #5656e4;
        border-collapse: collapse;
        padding: 0.3em;
        caption-side: top;
        background-image: $backgroundImageIndexYServiciosColor;
    }

    th {
        background: $backgroundThYFormColor;
    }

    tbody tr>* {
        text-align: center;
    }
}

caption {
    padding: 0.3em;
    color: $white;
    background: $black;
}

.list-group.w-50 {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: $textXxs;
}