.tituloSegundoTiposDeTerapia {
    font-size: map-get($map: $tamaños , $key: 'textXl');
    margin-bottom: map-get($map: $tamaños , $key: 'textXs');
    animation-name: opacidadDe0A1;
    animation-duration: 3s;
}

.seccionDeTerapia h3 {
    font-size: map-get($map: $tamaños , $key: 'textMd');
    font-family: $secondaryFont;
    color: $white;
}

.accordion-button {
    font-size: map-get($map: $tamaños , $key: 'textXl');
}

.fs-tipo-de-terapia {
    font-size: 2.7rem;
}

@keyframes opacidadDe0A1 {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}