.redes {
    grid-area: footer;
    background-color: $backgroundColorNavYFooter;
    text-align: center;
    padding: map-get($map: $tamaños , $key: 'textXxs');

    .texto {
        font-size: map-get($map: $tamaños , $key: 'textLg');
        font-family: $footerFont;
        color: $white;
        font-weight: $medium;
    }
}