// colores

$backgroundColorNavYFooter:rgba(86, 86, 228, 0.7);
$mainColor: #974f94;
$borderColor:#5656e4;
$white:#F5F0F0;
$black:#0F0E0E;
$linkColor:#ff8052;
$backgroundThYFormColor:rgba(86, 86, 228, 0.5);
$backgroundImageIndexYServiciosColor:linear-gradient(to left, #d391d3, white);
$backgroundImageIndexColorH3:linear-gradient(to left, #750b75, white);

// fonts

$mainFont:'Tiro Gurmukhi', serif;
$secondaryFont:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$footerFont:'Dancing Script', cursive;

// tamaños de letra

$textXxs: 1rem;
$textXs: 2rem;
$textSm: 2.5rem;
$textMd: 3rem;
$textLg: 3.5rem;
$textXl: 4rem;

//peso de la letra

$extraBold:900;
$bold:700;
$medium:600;
$light:300;